$background-100: #19213A;
$background-200: #202945;
$text: #F6F7FB;
$text-hide: #c8c8cadc;
$text-white: #F6F7FB;

$border-items-100: #73738a3a;
$border-items-200: #7f7f973a;
$border-items-300: #9191a83a;
$border-items-400: #bfbfd63a;

$lightInput: #19213A;

$code-bg: #192035;

$button-default: #9DFFEE;
$button-segmented-bg: #131a2e;
$input-bg: #F0EFED;

$primary: #3E7BFA;
$primary100: #3268D5;
$primary300: #6699FF;

$dark100: #151523;
$dark200: #23243A;
$dark500: #545671;
$dark600: #9091A8;

$light300: #FAFAFC;
$light200: #F2F2F5;
$light100: #ECECF0;



$gray100: #5b5b5e;
$gray200: #6a6a6d;
$gray300: #7a7a7e;
$gray400: #838388;
$gray500: #95959b;

$blue: #0059de;
$blue500: #5b8def;
$blue600: #84c3ff;
$border: #9dbff9;

$cyan100: #00cfde;
$cyan200: #73dfe7;
$cyan300: #a9eff2;

$red100: #ff3838;
$red200: #ff5c5c;
$red300: #ff8181;

$orange100: #ff8800;
$orange200: #ee9938;
$orange300: #eca848;
$orange400: #ecc377;

$yellow100: #ffcd00;
$yellow200: #fdde46;
$yellow300: #fdee73;

$green100: #01C371;
$green300: #57eba1;
$green200: #36da8b;

$purple100: #6600cc;
$purple200: #ac5dd9;
$purple300: #dda5e9;